 .pipe_li li{

    /* color: #ff0000; */
    height: auto;
    width: auto;
  border: 1px solid black;
    padding: 8px;
    border-radius: 15px;
   
}


 .pipe_li li:hover{
    /* background-color: #ff0000; */
     transition: all 0.3s ease-in-out;
     border: 1px solid red ;
     color: white;
 background-color: #eb5008; 
 transform: scale(1.3);

box-shadow:
  rgba(255, 0, 0, 0.35) 0px 12px 28px,
  rgba(201, 75, 7, 0.25) 0px 8px 8px;
 }



 .card{
    margin-top: 20px ;
    border: 2px solid #eb5008 !important;
    border-radius: 50px !important;
    height: 35rem;
   padding: 20px;
   text-align: center;
 
 }

 .pipes:hover{

  transition: all 0.3s ease-in-out;





 }



 

